<%- include('partials/header.ejs') %>

<form action="/update/<%= post.id %>" method="POST" class="container editPageCon">
    <div class="postConR">
        <div class="detailsCon">
            <img src="https://covers.openlibrary.org/b/id/<%= post.cover_id %>-M.jpg" alt="cover of the book">
            <div class="bookInfoCon">
                <p class="title"><%= post.title %></p>
                <div class="yearAndIsbnCon">
                    <p class="isbn">ISBN: <%= post.isbn %></p>
                    <p class="publishedYear">Published Year: <%= post.published_year %></p>
                </div>
            </div>
        </div>
        <div class="ratingCon">
            <label for="rating">Rating:</label>
            <input class="rating" name="rating" id="rating" value="<%= post.rating %>">
        </div>
        <div class="reviewCon">
            <label for="review"></label>
            <textarea class="review" id="review" name="review"><%= post.review %></textarea>
        </div>
        <button class="updateBtn" type="submit">Update</button>
    </div>
</form>

<%- include('partials/footer.ejs') %>