<%- include('partials/header.ejs') %>

<form action="/update/<%= post.id %>" method="POST" class="container editPageCon">
    <div class="postConR">
        <div class="detailsCon">
            <img src="https://covers.openlibrary.org/b/id/<%= post.cover_id %>-M.jpg" alt="cover of the book">
            <div class="bookInfoCon">
                <p class="title"><%= post.title %></p>
                <div class="yearAndIsbnCon">
                    <p class="isbn">ISBN: <%= post.isbn %></p>
                    <p class="publishedYear">Published Year: <%= post.published_year %></p>
                </div>
                <p class="reviewedBy">Reviewed by: <span><%= post.nickname %></span></p>
            </div>
        </div>
        <div class="ratingCon">
            <label class="editAndPostRating" for="rating">Your Rating:</label>
            <select class="rating" id="rating" name="rating">
                <% for (let i=1; i <=10; i++) { %>
                    <option value="<%= i %>" <%= post.rating == i ? 'selected' : '' %>><%= i %></option>
                    <% } %>
            </select>
        </div>
        <div class="reviewCon editReviewCon">
            <label class="editReview" for="review">My Notes:</label>
            <textarea class="review" id="review" name="review" wrap="hard" spellcheck="false"><%= post.review %></textarea>
        </div>
        <div class="buttonsCon">
            <button class="updateBtn" type="submit">Update</button>
        </div>
    </div>
</form>

<%- include('partials/footer.ejs') %>