<%- include('partials/header.ejs') %>

<div class="container mainPageCon">
    <div class="welcomeCon">
        <h1>Welcome to NoteCore</h1>
        <p>In this website, Everyone can post reviews of books that they read and gave them a rating on how much they would recommend it to others, as well as key insights in those books. So, we hope Everyone enjoys sharing and reading each others notes daily in our platform.</p>
    </div>
    <div class="postIntroCon">
        <h2>Review Section</h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/sort/u.nickname">Reviewer</a></li>
                <li><a class="dropdown-item" href="/sort/rating">Rating</a></li>
                <li><a class="dropdown-item" href="/sort/title">Title</a></li>
                <li><a class="dropdown-item" href="/sort/published_year">Published Year</a></li>
            </ul>
        </div>
    </div>
    <hr class="hrDivider">
    <div class="postCon">
        <% posts.forEach(post => {%>
        <div class="eachPost">
            <div class="detailsCon">
                <img src="https://covers.openlibrary.org/b/id/<%= post.cover_id %>-M.jpg" alt="cover of the book">
                <div class="bookInfoCon">
                    <p class="title"><%= post.title %></p>
                    <div class="yearAndIsbnCon">
                        <p class="isbn">ISBN: <span><%= post.isbn %></span></p>
                        <p class="publishedYear">Published Year: <span><%= post.published_year %></span></p>   
                    </div>
                    <p class="reviewedBy">Reviewed by: <span><%= post.nickname %></span></p>
                    <p class="rating">Given Rating: <span><%= post.rating %>/10</span></p>
                </div>
            </div>
            <div class="reviewCon">
                <p class="review">
                    <%=  post.review.length > 350 ? post.review.substring(0, 350): post.review %>
                    <a class="readMoreBtn" href="/review/<%= post.id %>">Read More</a>      
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</div>

<%- include('partials/footer.ejs') %>